<p id="notice"><%= notice %></p>

<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category, value: @item.category.blank? ? '' : @item.category.name %>
  </div>
  <div class="field">
    <%= f.label :store %><br>
    <%= f.text_field :store, value: @item.store.blank? ? '' : @item.store.name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
