<p id="notice"><%= notice %></p>
<p>
  <strong>Purchased at:</strong>
  <%= @item.purchased_time.strftime("%v") %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @item.tag_list %>
</p>

<p>
  <strong>Category:</strong>
  <%= if @item.category.present? 
        @item.category.name 
      else
        ""
      end 
  %>
</p>

<p>
  <strong>Store:</strong>
  <%= if @item.store.present? 
        @item.store.name 
      else
        ""
      end 
  %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Add another item', new_item_path %> |
<%= link_to 'All Items', items_path %>
